<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>nirdteq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- fancy scripts by nird -->
    <script>
      let fancyfunction = () =>{
        setTimeout(
          function name(params) {
            alert("Hey weldone!, You are a nird")
        },2000)
        let uname = prompt("What's Your name? ");
        alert("Thank you " + uname + " for testing our site");
      }
    </script>
  </head>
  <body>
    <div id="main-container">
      <div class="header">
        <h3>nirdteq</h3>
        <ul>
          <li>About</li>
          <li>Hall</li>
          <li>Service</li>
          <li>Team</li>
        </ul>
        <div id="menu-btn">&#9776;</div>
      </div>
      <div class="main-content">
        <div class="content">
          <p>I am a Nird</p>
          <a href="#" onclick="fancyfunction()">Explore</a>
        </div>
        <div class="cards">
          <div class="card-a"></div>
          <div class="card-a"></div>
          <div class="card-a"></div>
        </div>
      </div>
    </div>
  </body>
</html>
