<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width , initial-scale=1 , maximum-scale=1, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="keywords"
      content="nerd,profnird,kingsley amankwah, learn ethical hacking in ghana for free,nirdteq,tech giant, software development in ghana,robotics,software engineering in ghana,learn programming for free,programming in ghana,ghana,software,company,kumasi,tech,technology,africa,robotics,arhinware,finacord,innovation,nirdteq.com,nird,robotics company in Ghana,robotics company in Kumasi"/>
      <meta name="description" content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
      <meta itemprop="description" content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
      <meta name="twitter:description" content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
      <meta name="og:description" content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
    <title>nirdteq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div id="main-container">
      <div class="header">
        <h3 id="lg" class="logo">nirdteq</h3>
        <ul id="menu" class="res-nav">
          <li><a href="/about">About</a> </li>
          <li><a href="/hall">Hall</a></li>
          <li><a href="/services">Service</a></li>
          <li><a href="/team">Team</a> </li>
          <li><a href="/products">Products</a></li>
        </ul>
        <div id="menu-btn" class="dis-nav">
          <i class="fas fa-bars" onclick="nav();"></i>
        </div>
      </div>
      <div class="main-content">
        <div class="content">
          <p>Products</p>
          <a href="#" onclick="fancyfunction()">Explore</a>
        </div>
        <div class="cards">
          <div class="card-a c-a">
            <div class="fas fa-eye fa-5x"></div>
            <div class="card-d">
              <h4>Vision 2021</h4>
              <p>Build Up from Scratch</p>
            </div>
          </div>
          <div class="card-a c-b">
            <div class="fa fa-cog fa-5x"></div>
            <div class="card-d">
              <h4>Slogan</h4>
              <p>Your Brain Is Bigger Than You Think</p>
            </div>
          </div>
          <div class="card-a c-c">
            <div class="fas fa-clock fa-5x"></div>
            <div class="card-d">
              <h4>Deploying</h4>
              <p>ArhinWare | CodeMate</p>
            </div>
          </div>
          </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
