<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width , initial-scale=1 , maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords"
        content="nerd,profnird,kingsley amankwah, learn ethical hacking in ghana for free,nirdteq,tech giant, software development in ghana,robotics,software engineering in ghana,learn programming for free,programming in ghana,ghana,software,company,kumasi,tech,technology,africa,robotics,arhinware,finacord,innovation,nirdteq.com,nird,robotics company in Ghana,robotics company in Kumasi" />
    <meta name="description"
        content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
    <meta itemprop="description"
        content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
    <meta name="twitter:description"
        content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
    <meta name="og:description"
        content="As Nirds our mission and values are to help people and businesses throughout Africa and the world achieve their dreams and impact the world.">
    <title>nirdteq</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/products-main.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
</head>

<body>
    <div id="main-container">
        <div class="header">
            <h3 id="lg" class="logo"><a href="/home">nirdteq</a></h3>
            <ul id="menu" class="res-nav">
                <li><a href="/about">About</a> </li>
                <li><a href="/hall">Hall</a></li>
                <li><a href="/services">Service</a></li>
                <li><a href="/team">Team</a> </li>
                <li><a href="/products">Products</a></li>
            </ul>
            <div id="menu-btn" class="dis-nav">
                <i class="fas fa-bars" onclick="nav();"></i>
            </div>
        </div>
        <div class="products-content">
            <div class="info-mid">
                <div class="description info-mid-obj">
                    <p id="desc">
                        AMAZING PRODUCTS !
                    </p>
                    <span>
                        Being good is not being the best,
                        we are here for you.<br> We have made products easily accessible with regulated software <br>
                        solutions to suit your personal and busines needs.
                    </span>
                    <span>
                        <button>Contact</button>
                    </span>
                </div>
                <div class="vector-img info-mid-obj">
                    <!-- img vector -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();

        function calltwak() {
            var s1 = document.createElement("script");
            var s0 = document.getElementsByTagName("script")[1];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/613b73c7d326717cb680cb66/1ff83ohrm';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        };
        calltwak();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>