html,body {
  font: 14px 'Roboto';
  margin:0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-container{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.header{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.header a{
  color: black;
  text-decoration: none;
}
.res-nav{
  display: flex;
  list-style-type: none;
}
.header ul li{
  padding: 10px;
  margin: 10px;
}
.logo{
  align-self: center;
  padding: 10px;
}
.header i{
  padding: 10px;
}
ul li a{
  text-decoration: none;
  color: black;
}
ul li a:hover{
  border-bottom: 2px solid;
}
/* main-content */
.main-content{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin:0;
}
.content{
  /* border:1px solid red;  */
  padding: 10px;
  display: flex;
  height: 60%;
  /* background: #929292; */
  background-image: url(/images/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.content p:first-child{
  font-size: 10vw;
}

div.content a{
  padding: 5px;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  text-align: center;
  background: #7b7979;
}
div.content a:hover{
  transition: 1s;
  color:#7b7979;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
div.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* cards */
.cards{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  position: absolute;
  align-self: center;
  top: 52%;
  z-index: 1;
}
.cards h4{
  margin: 5px;
}
.card-a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  color:#7b7979;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-a i{
  color:#7b7979;
  margin-bottom: 10px;
}
.card-a:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-d{
  text-align: center;
}
#menu-btn{
  display: none;
}
.c-a{
  color: rgb(21, 129, 129);
}
.c-b{
  color: rgb(255, 114, 20);
}
.c-c{
  color: rgb(97, 24, 104);
}


/* media-queries */
@media screen and (max-width: 600px) {
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: none;
    /* align-self: center; */
  }
  div.content a{
    transition: 1s;
    color:#7b7979;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-a{
    width: 200px;
    height: 200px;
  }
  /* .header ul{
    display: none;
  } */
  .res-nav{
    display: none;
  }
  #menu-btn{
    display: block;
    padding: 10px;
  }
}

@media screen and (max-width: 600px){
  .res-nav.res {
    position: relative;
  }
  .res-nav.res .dis-nav{
    position: relative;
    float: left;
    right: 0;
    top: 0; 
  }
  .hide-lg{
    display: none;
  }
  .res-nav.res{
    /* float: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
  }
}

/* team page style */
.team-card{
  border: 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* grid layout */
.ecard{
  border: 1px solid;
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px,auto);
}
/* card items */
.dcard{
  border: 1px solid;
  padding: 10px;
}
.one{
  grid-column: 1/4;
  grid-row: 1;
}
.one-one{
  grid-column: 1;
  grid-row: 1/4;
}
.description{
  /* border: 1px solid; */
  padding: 10px;
}
